src/main/mule/account-migration-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:accounts-system-apip1="http://www.mulesoft.org/schema/mule/accounts-system-apip1" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/accounts-system-apip1 http://www.mulesoft.org/schema/mule/accounts-system-apip1/current/mule-accounts-system-apip1.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:listener-config name="account-migration-process-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="account-migration-process-api-config" raml="account-migration-process-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="4dc55a2f-6988-4b41-91e3-d7c396a8d70e" file="common.properties" />
	<configuration-properties doc:name="Configuration properties" doc:id="e463cda4-81a8-4e35-80f9-0d4112b9b094" file="mule.dev.properties" />
	<accounts-system-apip1:config name="Accounts_System_API_P1_Config_SAP" doc:name="Accounts System API P1 Config" doc:id="8e884df8-9a6e-4977-862f-14fea1a55235" property_host="${system.api.a.domain}" property_port="${system.api.a.http.port}" property_basePath="${system.api.a.basePath}" property_protocol="${system.api.a.protocol}"/>
	<accounts-system-apip1:config name="Accounts_System_API_P1_Config_DB" doc:name="Accounts System API P1 Config" doc:id="17fe046e-1159-48eb-9da3-dcce3000423d" property_host="${system.api.b.domain}" property_port="${system.api.b.http.port}" property_basePath="${system.api.b.basePath}" property_protocol="${system.api.b.protocol}" />
	<flow name="account-migration-process-api-main">
        <http:listener config-ref="account-migration-process-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="account-migration-process-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="472cd5e7-f17f-40ee-94ae-136c94c0c6f7">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="1ae7c445-d030-4a38-bf14-842ce545af4c">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="account-migration-process-api-console">
        <http:listener config-ref="account-migration-process-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="account-migration-process-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="post:\migrateAccounts:account-migration-process-api-config">
		<accounts-system-apip1:get-accounts doc:name="Get Account by Param" doc:id="3dda7161-1c0d-4238-a934-8776c8ec831a" name="#[attributes.queryParams.name]" config-ref="Accounts_System_API_P1_Config_SAP" match="like" />
		<logger level="INFO" doc:name="Logger" doc:id="25b2984f-dc1e-4be8-b999-be7cae9cf042" message="#[output application/json --- payload]" />
		<foreach doc:name="For Each Account" doc:id="91f00bae-1849-4dba-a3f6-0079367f2e21" collection="#[payload]">
			<try doc:name="Try" doc:id="8bc78d95-cb74-4049-a99d-3b71dab120d9" >
				<accounts-system-apip1:get-account-by-id doc:name="Get account by id" doc:id="1093c797-22a6-4866-b98c-3dcba13bcb15" config-ref="Accounts_System_API_P1_Config_DB" id="#[payload.id]" target="accountId">
		</accounts-system-apip1:get-account-by-id>
				<ee:transform doc:name="Transform Message" doc:id="a6d5d007-7c07-40b1-9bf8-fe3568a34512">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.id]]></ee:set-payload>
				</ee:message>
			</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="b983b0b3-a453-465e-84f8-f9f87fec203d" message="#[payload]" />
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ee9927b4-c9cf-429e-a730-9ba7765d5529" type="ANY">
						<logger level="INFO" doc:name="Logger" doc:id="39b4f252-bca0-48c7-b5c6-cdac684b0e76" message="#[payload]" category="**EXCEPTION**LOGGER**"/>
					</on-error-continue>
				</error-handler>
			</try>
			<choice doc:name="Does Account Exist?" doc:id="381d1fde-0f48-45c3-88b7-661c4b76a0c3">
				<when expression="#[vars.accountId != null]">
					<accounts-system-apip1:update-account-by-id doc:name="Update Account by ID" doc:id="3da17ba5-1fd9-4ea0-bf89-3bd969ed046e" config-ref="Accounts_System_API_P1_Config_DB" id="#[vars.accountId]" />
					<logger level="INFO" doc:name="Log the Update" doc:id="204795b1-757b-4f65-a68a-3c033e85030f" message="Account with ID #[vars.accountId] was updated successfully." />
				</when>
				<otherwise>
					<accounts-system-apip1:post-account doc:name="Create Account" doc:id="5121264b-209d-4d90-b89e-b2369bca26cb" config-ref="Accounts_System_API_P1_Config_DB" />
					<ee:transform doc:name="Transform Message" doc:id="d01c5b18-6e31-4802-be7a-e2b52f181065">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.nativeId]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Log the Creation" doc:id="bf2a1d37-2902-4fd5-8bc9-57fe45295977" message="Account with ID #[payload] was created successfully."/>
				</otherwise>
			</choice>
		</foreach>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="6c9cccca-68e1-4a27-b149-b81d4b92a079" doc:name="Prepare response JSON">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Accounts were successfully migrated."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
